* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  max-width: 388px;
  margin: 6px auto 0px;
  padding: 0 14px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  height: 120px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding-top: 8px;
  color: white;
}

/*Lista*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 18px 0;
}

ul li a {
  background: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(255, 255, 255, 1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

ul li a:hover {
  background: white;
  border: 1.5px solid rgb(255, 255, 255, 1);
  box-shadow: 0 0 30px rgb(255, 255, 255, 1);
  text-shadow: 0 0 20px rgb(255, 255, 255, 1);
}
/*social-links*/
#social-links {
  padding: 20px 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: 0.3s;
  border-radius: 50%;
}

#social-links a:hover {
  background: #1c1c1b;
  color: white;
  border: 0px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgb(255, 255, 255, 9);
  text-shadow: 0 0 0 20px rgb(255, 255, 255, 0.1);
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}

footer :hover {
  color: white;
  border: 0px solid white;
  box-shadow: 0 0 30px white;
  text-shadow: 0 0 0 20px white;
  transition: 0.3s;
}
